body {
    background: #111;
    color: #eee;
    font-family: Arial;
}

input, button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 90%;
}

.postCard {
    padding: 15px;
    background: #222;
    margin-bottom: 20px;
    border-radius: 6px;
}

.postImage {
    width: 100%;
    max-width: 280px;
    border-radius: 6px;
    margin-top: 10px;
}

#profilePreview {
    max-width: 100px;
    border-radius: 50%;
}
